{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h1>{% trans "Sign Up" %}</h1>
            <hr>
        </div>
    </div>
    <p class="alltext">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"
            class="light_brown">sign in</a>.{% endblocktrans %}</p>

    <form class="alltext small" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-outline-black rounded-8 mt-1 mb-5 alltext light_brown">
            {% trans "Sign Up" %}</button>
    </form>

    {% endblock %}